@if(translation){
Email
<input data-cy="email-input" type="email" />
<br><br>
Password
<input data-cy="password-input" type="password" />
<br><br>
<select data-cy="user-role">
    <option value="admin">{{ translation.translate('APP.ADMIN') }}</option>
    <option value="user">{{ translation.translate('APP.USER') }}</option>
</select>
<br><br>

{{ translation.translate('APP.NO_ID_INPUT') }}
<input  type="text" />

<br><br>
<button data-cy="login-button">{{ translation.translate('APP.LOGIN') }}</button>

<br><br><br><br><br><br><br>
<button (click)="getClientList()">{{ translation.translate('APP.GET_CLIENTS') }}</button>



<lib-e2e-recorder />
}
