Email
<input data-cy="email-input" type="email" />
<br><br>
Password
<input data-cy="password-input" type="password" />
<br><br>
<select data-cy="user-role">
    <option value="admin">Administrador</option>
    <option value="user">Usuario</option>
</select>
<br><br>

Este input no tiene ningun identificador
<input  type="text" />

<br><br>
<button data-cy="login-button">Login</button>

<br><br><br><br><br><br><br>
<button (click)="getClientList()">Obtener clientes</button>



<lib-e2e-recorder />